.messenger-container{

    .chat-container{
        background-image: url('../../assets/images/chat-bg.jpg');
        height: 100%;
        width: 100%;
        position: relative;
        min-height: 70vh;
        border-radius: 0px 10px 10px 0;

        .chat-messenger{
            position: absolute;
            bottom:0;
            background: #ffffff;
            width: 100%;
            height: 10%;
        }
    }
}